html {
	width: 100%
}
body {
	font-family: verdana;
	width: 90%;
	margin: auto;
}	

.content {
	width: 800px;
	padding-top: 100px;
}
h1 {
	font-family: georgia;
	font-size: 25px;
	letter-spacing: 20px;
	text-transform: uppercase;
}

.mission{
	width: 90%;
	font-size: 18px;
	padding; 20px;
	margin: auto;
}
.images {
	width: 90%;
	margin: auto;
}
.t1 {
	float: left;
	padding-left: 30px;
	padding-top: 25px;
	width: 30%;
	border-right: 1px solid #bbb;
	margin-top: 30px;
}
.t2 {
	float: left;
	padding-left: 30px;
	padding-top: 25px;
	width: 30%;
	margin-top: 30px;
}
.box {
	float: left;
	padding-left: 30px;
	padding-top: 0px;
	width: 30%;
	margin-top: 30px;
	
}
.box2 {
	float: left;
	padding-left: 30px;
	padding-top: 0px;
	width: 30%;
	margin-top: 30px;
	
}
.clear {
	clear: both;
}




